.row {
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 10px;
    padding: 30px;
}

.col-2 {
    flex: 2;
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 10px;
    padding: 30px;
}

.col-3 {
    flex: 3;
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 10px;
    padding: 30px;
}