* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    background-color: black;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: white;
    background-color: black;
    margin: 20px;
    font-family: normal;
}

ul {
    list-style-type: none;
}

.home {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.myprofile {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.findconnections {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.button {
    padding: 35px;
    text-decoration: none;
    color: white;
}

.container {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-body {
    padding: 20px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.header {
    padding: 10px;
    background-color: black;
    color: white;
}

.profile .header {
    background-color: aqua;
}


.avatar1 {
    height: 50px;
    position: relative;
    top: 35px;
    left: 10px;
}


.map {
    height: 25px;
    margin: 5px;
}

.gear {
    height: 25px;
    margin: 5px;
}

.marker {
    display: flex;
    align-items: center;
}

.h2 {
    font-family: normal;
}

.education {
    margin: 25px;
}

.avatar {
    display: flex;
    width: 50px;
    height: 50px;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    display: flex;
    width: 35px;
    padding: 15px;
    gap: 20px;
}

.col-2 {
    display: flex;
    background-color: black;
}

.connectionrequests .card-body div {
    display: flex;
    margin: 10px;
    gap: 20px;
}