img {
    height: 155px;
    width: 160px;
    padding: 5px;
    margin: 15px;
}

.row {
    text-align: center;
}

.blue{
    background-color: blue;
}

.red {
    background-color: firebrick;
}

.orange {
    background-color: orange;
}