@model Association

<div class="container">
    <h3 class="mb-3">Add a Category</h3>
    <form asp-action="CreateAssociationProd" asp-controller="Home" method="post">
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
        <div>
            <select asp-for="CategoryId" class="form-select mb-3">
                <option selected disabled hidden>Pick One!</option>
                @foreach (Category item in ViewBag.AllCategories)
                {
                    <option value="@item.CategoryId">@item.CategoryName</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Add" class="btn btn-success">
        </div>
    </form>
</div>