@model Product

<div class="d-flex flex-column align-items-center">
    <h3 class="mb-5" style="border-bottom: 1px solid;">New Product</h3>
    <form asp-action="CreateProduct" asp-controller="Home" method="post">
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <div class="form-group d-flex justify-content-between mb-3 gap-2">
            <label asp-for="ProductName" class="text-left">Name</label>
            <input asp-for="ProductName" class="form-control" style="width: 15em;">
        </div>
        <span asp-validation-for="Description" class="text-danger"></span>
        <div class="form-group d-flex justify-content-between mb-3 gap-2">
            <label asp-for="Description" class="text-left"></label>
            <input asp-for="Description" class="form-control" style="width: 15em;">
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
        <div class="form-group d-flex justify-content-between mb-3 gap-2">
            <label asp-for="Price" class="text-left"></label>
            <input asp-for="Price" class="form-control" style="width: 15em;">
        </div>
        <input type="submit" value="Create" class="btn btn-success ">
    </form>
</div>