<div class="d-flex justify-content-between m-3">
    <h1>Welcome, @Context.Session.GetString("Username")</h1>
    <form action="/logout" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <h2 class="mb-3">@Context.Session.GetInt32("Count")</h2>
    </div>
    <div>
        <div class="d-flex">
            <form action="/plusone" method="post" class="m-2">
                <input type="submit" value="+1" class="btn btn-warning" style="height: 100px; width: 100px;">
            </form>
            <form action="/minusone" method="post" class="m-2">
                <input type="submit" value="-1" class="btn btn-primary" style="height: 100px; width: 100px;">
            </form>
        </div>
        <div class="d-flex">
            <form action="/timestwo" method="post" class="m-2">
                <input type="submit" value="x2" class="btn btn-danger" style="height: 100px; width: 100px;">
            </form>
            <form action="/random" method="post" class="m-2">
                <input type="submit" value="+Random" class="btn btn-info" style="height: 100px; width: 100px;">
            </form>
        </div>
    </div>
</div>