<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            color: black;
        }

        h5 {
            color: black;
        }

        .btn {
            color: white;
            background-color: brown;
        }

    </style>
</head>

<body>
    <div>
        <h1 class="h1">Counter</h1>
        <h5 class="h5">you visit the page {{session["count"]}} times</h5>
        <form action="/count" method="post">
            <button type="submit" class="btn visits" name="alter" value="add">Visits</button>
            <button type="submit" class="btn reset" name="alter" value="reset">Reset</button>
        </form>
    </div>
</body>

</html>